{% extends "users/cabinet.html" %}
{% block bigtitle %}
    <h2>Продлить договор</h2>
{% endblock %}
{% block content_cabinet %}
    {{ response }}
    <div class="content">
        <form action="" method="post">{% csrf_token %}
            {% include "_form_errors.html" with form=form %}
            {% include "_form.html" with form=form %}

            <p><button type="button" id="id_calculate_button" class="orange_button">Рассчитать стоимость</button></p>
            <p><input type="submit" value="Продолжить" class="orange_button" /></p>
        </form>

    </div>

<script type="text/javascript">

    $(function(){
       $("#id_calculate_button").click(function(){
           $.post('{% url prolongate_calculate_price %}', {new_date: $('#id_new_date').val()},
               function(response, status){
                    console.log(response);
               });
       });
    });
</script>
{% endblock %}