{% extends "users/cabinet.html" %}
{% block bigtitle %}
    <h2>Продлить договор</h2>
{% endblock %}
{% block content_cabinet %}
    {{ response }}
    <div class="content">
        <form action="" method="post">{% csrf_token %}
            {% include "_form_errors.html" with form=form %}
            {% include "_form.html" with form=form %}
                <p><input type="submit" value="Продолжить" class="orange_button" /></p>
        </form>
    {% if request.session.step == 2 %}<button type="button" class="orange_button" id="back_to_1_step">Назад</button>{% endif %}
    </div>
    <script type="text/javascript">
    $(function(){
        $("#back_to_1_step").click(function(){
            $.ajax({
                type:'post',
                url:'{% url person_restruct_contract %}step1/',
                success: function(response, status){
                    window.location.reload();
                }
            });
        });
    });
    </script>
{% endblock %}