#PIL
Pillow
South
pytz
sorl-thumbnail
python-openid
oauth2
django==4.2.16
reportlab
django_debug_toolbar
mysql-python
requests
Whoosh
django-sorting
django-pagination
django-social-auth
mock
python-memcached