{% extends "administration/base.html" %}
{% load sorting_tags %}
{% load pagination_tags %}

{% block content %}
    {% autosort offers_list %}
    {% autopaginate offers_list 10 %}

    <ul class="breadcrumbs">
        <li><a href="{% url administration_index %}">Главная</a></li>
        <li><span>Акции</span></li>
    </ul>
    <div class="link-btn-holder">
        <a href="{% url administration_offers_add %}" class="add-button"><span>Добавить акцию</span></a>
    </div>
    <div class="container">
    <div class="list-table-holder">
    <form action="" method="post" id="bulk_action_form">{% csrf_token %}
    <table class="list-table">
    <tr>
        <th class="check-cell">
            <span><em><input id="check-all" class="check" type="checkbox" /></em></span>
        </th>
        <th class="new-cell">
            <span><em><strong><b>нов.</b></strong></em></span>
        </th>
        <th class="post-cell">
            <span><em><strong><b>опублик.</b></strong></em></span>
        </th>
        <th>
            <span><em><strong><b>название акции</b></strong></em></span>
        </th>
        <th class="cat-cell">
            <span><em><strong><b>категории</b></strong></em></span>
        </th>
        <th class="partner-cell">
            <span><em><strong><b>{% anchor partner 'партнёр' %}</b></strong></em></span>
        </th>
        <th class="date-cell">
            <span><em><strong><b>{% anchor add_date 'дата заявки' %}</b></strong></em></span>
        </th>
        <th class="period-cell">
            <span><em><strong><b>период</b></strong></em></span>
        </th>
        <th class="cost-cell">
            <span><em><strong><b>{% anchor coupon_price_money 'стоим. рубли' %}</b></strong></em></span>
        </th>
        <th class="cost-cell last">
            <span><em><strong><b>стоим.<br /> бонусы</b></strong></em></span>
        </th>
    </tr>

    {% for offer in offers_list %}
        <tr class="{% if not offer.is_moderated %}new {% endif %}{% if offer.is_published %}check-yes {% else %}check-no {% endif %}">
            <td>
                <input id="check-{{ offer.pk }}" class="check-bulk" type="checkbox" name="selected_items" value="{{ offer.pk }}" />
            </td>
            <td>
                <span class="new-mark">&nbsp;</span>
            </td>
            <td>
                <span class="checked-mark">&nbsp;</span>
            </td>
            <td>
                <span class="action-name"><a href="{{ offer.get_administration_edit_url }}">{{ offer.title }}</a></span>
            </td>
            <td>
                {% for category in offer.categories.all %}
                    {{ category.title }}<br/>
                {% endfor %}
            </td>
            <td>{{ offer.partner.title }}</td>
            <td>{{ offer.add_date|date:'d.m.Y' }}</td>
            <td>c {{ offer.start_date|date:'d.m.Y' }}<br /> по {{ offer.end_date|date:'d.m.Y' }}</td>
            <td>{{ offer.coupon_price_money }} руб.</td>
            <td>{{ offer.coupon_price_bonuses }}</td>
        </tr>
    {% endfor %}
    </table>
    <input type="hidden" name="action" value="" />
    </form>
    </div>
    </div>
    <div class="footing-area">
    <div class="paging">
        {% paginate %}
    </div>
{#        {% include "_paginator.html" with page=offers_list paginator=offers_list.paginator %}#}
        {% include "administration/_bulk_action_select.html" %}
    </div>
{% endblock %}