{% extends "partners/menu_base.html" %}
{% block content %}
    <ul class="breadcrumbs">
        <li><a href="{% url partner_menu %}">Главная</a></li>
        <li><span>Модерация</span></li>
    </ul>
    <div class="container">
        <div class="list-table-holder">
            <form action="" method="post" id="bulk_action_form">{% csrf_token %}
                <table class="list-table">
                    <tr>
                        <th class="check-cell">
                            <span><em><input id="check-all" class="check" type="checkbox" /></em></span>
                        </th>
                        <th class="post-cell">
                            <span><em><strong><b>страница</b></strong></em></span>
                        </th>
                        <th>
                            <span><em><strong><b>автор</b></strong></em></span>
                        </th>
                        <th>
                            <span><em><strong><b>текст</b></strong></em></span>
                        </th>
                        <th>
                            <span><em><strong><b>дата добавления</b></strong></em></span>
                        </th>
                    </tr>
                    {% for feedback in feedbacks_list %}
                        <tr>
                            <td>
                                <input id="check-{{ feedback.pk }}" class="check-bulk" type="checkbox" name="selected_items" value="{{ feedback.pk }}" />
                            </td>
                            <td>
                                <span class="action-name"><a href="{{ feedback.content_object.get_url }}">{{ feedback.content_object.title }}</a></span>
                            </td>
                            <td>
                                {{ feedback.user.get_profile.get_name }}
                            </td>
                            <td>
                                {{ feedback.text }}
                            </td>
                            <td>
                                {{ feedback.add_date }}
                            </td>
                        </tr>
                    {% endfor %}

                </table>
                <input type="hidden" name="action" value="" />
            </form>
        </div>
    </div>
    <div class="footing-area">
        {% include "_paginator.html" with page=feedbacks_list paginator=feedbacks_list.paginator %}
        <div class="check-action">
            <select name="actions" id="bulk-actions-select">
                <option value="">Действия с выбранными</option>
                <option value="approve">Одобрить</option>
                <option value="delete">Удалить</option>
            </select>
        </div>
    </div>
{% endblock %}