<div class="agreement_info_preview">
    <h2>Сведения о договоре</h2>
    <div class="club">Клуб: <span>{{ address.title }}</span></div>
    <div>Дата заключения договора: <span>{{ add_date|date:'d.m.Y' }}</span></div>
    <h2>Сведения о посетителе</h2>
    <div class="last_name">Фамилия: <span>{{ last_name }}</span></div>
    <div class="first_name">Имя: <span>{{ first_name }}</span></div>
    <div class="father_name">Отчество: <span>{{ father_name }}</span></div>
    <div>Пол: <span>{{ gender }}</span></div>
    <div>Паспортные данные: {{ passport_serial }} {{ passport_number }}</div>
    <div>Дата рождения: <span>{{ birth_date }}</span></div>
    <div>Контактный телефон: <span>{{ phone }}</span></div>
    <div>Электронный адрес: <span>{{ email }}</span></div>
    <h2>Условия</h2>
    <div>Вид абонемента: <span>{{ offer.short_description|safe }}</span></div>
    <div>Срок действия: <span>{{ valid_term }}</span></div>
</div>