{% load thumbnail %}
{% load rating %}
{% load rupluralize %}

<li>
    <p style="height: 100px; display: table-cell; vertical-align: middle"><a href="{{ offer.get_url }}">{{ offer.title }}</a></p>
    <div class="img-holder">
        {% thumbnail offer.get_photos_list.0.file '215x145' crop='center' format='PNG' as im %}
            <a href="{{ offer.get_url }}"><img src="{{ im.url }}" alt=""></a>
        {% endthumbnail %}

{#  Процент скидки      <span class="sale">-{{ offer.get_discount_percent }}%*</span>#}
        <div class="hover-info">
            {% if offer.partner.metro %}
                <span class="metro"><span>{{ offer.partner.metro.name }}</span></span>
            {% endif %}
            <span class="like">
                <a href="{% url offers_like offer.pk %}"><img src="{{ STATIC_URL }}images/bg-like.png" alt=""></a>
                <span>{{ offer.get_likes_count }}</span>
            </span>
        </div>
    </div>
    <div class="price-area">
        <span class="coupon"><span class="number">{{ offer.coupons_left }}</span> куп.</span>
        <div class="price">
            {% if offer.show_initial_price %}
                <span class="old-price">{{ offer.initial_price }} р.</span>
            {% endif %}
                {% if not offer.coupon_price_bonuses %}
                <strong class="new-price">
                    {{ offer.discount_price }}р.
                </strong>
                {% else %}
                    <strong class="new-price">
                    {{ offer.coupon_price_bonuses }}
                    </strong>
                    {{ offer.coupon_price_bonuses|rupluralize:'бонус,бонуса,бонусов' }}
                {% endif %}

        </div>
    </div>
    <span class="sale-counter">Осталось {{ offer.get_time_left_string }}</span>
    <div class="progress-bar"><div style="width:{{ offer.get_time_passed_percent }}%"></div></div>
</li>