{% extends 'base.html' %}
{% block content %}
    <div class="container">
    <h2>Поиск</h2>

    <form method="get" action=".">
        <table>
            {{ form.as_p }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Искать">
                </td>
            </tr>
        </table>

        {% if query %}
            <h2>Результаты</h2>

            {% for result in page.object_list %}
                <p class="search_results">
                    <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>
                </p>
            {% empty %}
                <p>Ничего не найдено.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Предыдущие{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Следующие &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
    </div>
{% endblock %}
