<li class="social-info">
    <dl>
        <dt>Поделиться ссылкой:</dt>
        <dd>
            <a href="#" class="facebook">Facebook</a>
            <a href="http://vkontakte.ru/share.php?url={{ BASE_URL }}{{ CURRENT_URL }}&title={{ META_TITLE }}&image=http://www.bonus-house.ru/static/images/logo.png&noparse=true" class="vkontakte" target="_blank">Вконтакте</a>
            <a href="#" class="twitter">Twitter</a>
            <a href="#" class="email share_link_email">Email</a>
        </dd>
    </dl>
</li>