{% extends "users/cabinet.html" %}
{% block bigtitle %}
    <h2>Пригласить друга</h2>
{% endblock %}
{% block content_cabinet %}


    <div class="content">
        <div style="padding-bottom: 20px; font-size: 15px;">{{ description_text|safe }}</div>
        {% include "_form_errors.html" with form=form %}
        <form id="id_refer_friend_form" action="" method="post">{% csrf_token %}
        <div id="form">
            {% include "_form.html" with form=form %}
        </div>
        <button type="button" id="id_one_more_friend" class="orange_button" onclick="oneMoreFriend('id_name', 'id_email')">Ещё друг</button>
        <p class="form_row" style="margin-top: 15px;">
            <input type="submit" value="Отправить приглашение" class="orange_button" />
        </p>
    </form>
    </div>

    <script type="text/javascript">
        var friends_count = 0; // Счётчик друзей

        $(function(){
            $("#id_refer_friend_form").submit(function(){
                $.ajax({
                    type:'POST',
                    url:'/accounts/cabinet/refer-friend/',
                    data:form2js("id_refer_friend_form"),
                    success: function(response, status){
                        window.location.assign('/accounts/cabinet/refer-friend/success');
                    },
                    error: function(response, status, error){
                        var error_object = JSON.parse(response.responseText);
                        if(!($("#field_errors").text())){
                            $("#form").prepend($('<p id="field_errors" style="color: red;">' + error_object.text + '</p>'));
                        }
                        else{
                            $("#field_errors").text(error_object.text);
                        }
                        $("#form :input[value=" + error_object.email + "]").attr('disabled', false);
                    }
                });
                return false;
            })

        });


        function validateEmail(email) {
            var re = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
            return re.test(email);
        }

        function oneMoreFriend(){
            if(friends_count < 3){ //  больше 4ёх пригласить нельзя
                // Проверяем, заполнены ли последние 2 поля ввода
                if(!$("#form :input")[$("#form :input").length -1].value || !$("#form :input")[$("#form :input").length-2].value){
                    if(!($("#field_errors").text())){
                        $("#form").prepend($('<p id="field_errors" style="color: red;">Заполните все поля!</p>'));
                    }
                    else{
                        $("#field_errors").text('Заполните все поля!');
                    }
                }
                else if(validateEmail(_.last($("#form :input[type=email]")).value) == false){
                    $(_.last($("#form :input[type=email]"))).css('background-color', '#FF0033');
                    if(!($("#field_errors").text())){
                        $("#form").prepend($('<p id="field_errors" style="color: red;">Неправильный email-адрес!</p>'));
                    }
                    else{
                        $("#field_errors").text('Неправильный email-адрес!');
                    }

                }
                else{
                    friends_count += 1;
                    var template = _.template(
                            '<p>Друг#<%= friends_count + 1%>' +
                            '<div class="form_row"><label for id="id_name<%= friends_count %>">Как зовут вашего друга</label>' +
                            '<input id="id_name<%= friends_count %>" type="text" class="text" name="name<%= friends_count %>"></div>' +
                            '<div class="form_row"><label for id="id_email<%= friends_count %>">E-mail вашего друга</label>' +
                            '<input id="id_email<%= friends_count %>" type="email" class="text" name="email<%= friends_count %>"></div>'
                            );
                    var compiled = template({friends_count: friends_count});
                    $("#form :input").attr('disabled', true);
{#                    $("#form :input").css('background-color', '#cecece');#}
                    $(compiled).appendTo('#form');
                    $("#field_errors").remove();
                    $("#friends_overflow").remove();
                }
            }
        else{
            if(!($("#friends_overflow").text())){
                $("#form").prepend($('<p id="friends_overflow" style="color: red;">Нельзя пригласить больше четырёх друзей!</p>'));
            }
            else{
                $("#friends_overflow").text('Нельзя пригласить больше четырёх друзей!');
            }
        }
        }


    </script>

{% endblock %}