<tr class="underline">
    <td><span class="title-text">{{ meta_form.meta_title.label_tag }}:</span></td>
    <td>
        {{ meta_form.meta_title }}
    </td>
</tr>
<tr>
    <td><span class="title-text">{{ meta_form.meta_description.label_tag }}:</span></td>
    <td>
        {{ meta_form.meta_description }}
    </td>
</tr>
<tr>
    <td><span class="title-text">{{ meta_form.meta_keywords.label_tag }}:</span></td>
    <td>
        {{ meta_form.meta_keywords }}
    </td>
</tr>
<tr>
    <td><span class="title-text">{{ url_form.friendly_url.label_tag }}:</span></td>
    <td>
        {{ url_form.friendly_url }}
    </td>
</tr>